package ${package.Controller};


import ${package.Service}.${table.serviceName};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestMapping;



/**
 * $!{table.comment} 控制层
 *
 * @author ${author}
 * @date ${date}
 */
@RestController
@RequestMapping("/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
public class ${table.controllerName} {

    private ${table.serviceName} ${table.entityPath}Service;

    @Autowired
    public ${table.controllerName}(${table.serviceName} ${table.entityPath}Service){
        this.${table.entityPath}Service = ${table.entityPath}Service;
    }


}
