package ${package.Entity};

import java.io.Serializable;
import lombok.Data;

/**
 * $!{table.comment}
 *
 * @author ${author}
 * @date ${date}
 */
@Data
public class ${entity} implements Serializable{

	private static final long serialVersionUID = 1L;

    /**
     * 主键id
     */
    private Long id;

#foreach($field in ${table.fields})
    #if (!${field.keyFlag})
    #if(${field.comment} != "")
    /**
     * ${field.comment}
     */
    #end
    private ${field.propertyType} ${field.propertyName};
    #end

#end
}
